
img {
  width: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: center;
}

.item {
  margin-right: 5px;
}
.text {
  width: 100%;
  display: grid;
  place-content: center;
  height: 57vh;
  background: darkgray;
  color: whitesmoke;
}
.bio {
  width: 50%;
  justify-self: center;
}

